*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

.games {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(355px, auto));
  max-width: 100%;
  padding: 3rem 0;
  color: #292929;
}

.game {
  padding: 0;
  background-color: white;
  border: 1px solid #eee;
}

@media screen and (min-width: 376px) {
  .container {
    padding: 0 1rem;
  }
  .games {
    grid-gap: 10px;
  }
  .game {
    padding: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .game {
    padding: 2rem;
  }
}

.game .headers {
  font-family: Patua One, serif;
  font-weight: normal;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.game .whiteHeader::before,
.game .blackHeader::before {
  content: '♟️ ';
}

.game .whiteHeader,
.game .blackHeader {
  width: 50%;
  padding: 0.5rem 1rem;
}

.game .blackHeader {
  background-color: black;
  color: white;
}

.game .whiteHeader {
  color: black;
  border: 1px solid black;
}

.game .restHeader {
  width: 100%;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

.game .outerBoard {
  margin: 0 auto;
  text-align: center;
}

.game .moves {
  padding: 2rem;
}