.header {
  padding: 2rem;
  background-image:
    linear-gradient(
      to right,
      rgba(255,255,255,.75),
      rgba(255,255,255,.75)
    ),
    url(./lewis-chess.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Patua One, serif;
}

.header > h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
  color: #303030;
  font-weight: normal;
}

.header > h2 {
  margin-top: 1rem;
  font-weight: normal;
  color: #202020;
}